# Dependency directories
node_modules/

# Compiled code
dist/

# Environment variables
.env

# Virtual environment
venv/

# Logs
*.log

# Operating system files
.DS_Store
Thumbs.db

# Editor configurations
.vscode/
.idea/